@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap");

.contenedor {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.console {
  text-align: left;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 10px 0px 10px;
  width: 100%;
  flex-grow: 1; /* Hace que la consola ocupe el espacio restante */
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox,tambien funciona en chrome */
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

.contenedor input {
  text-align: left;
  background-color: black;
  color: white;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  border: none;
  outline: none;
  padding-left: 10px;
  margin: 0;
  padding: 10px;
}
